<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>一起聊天吧</title>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <link rel="stylesheet" th:href="@{/webjars/mdui/dist/css/mdui.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/mdui/dist/js/mdui.js}"></script>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
            background: rgba(31, 146, 172, 0.36) url("/static/images/login_bg.jpg");
            font-weight: 400;
            font-size: 1em;
            line-height: 1;
            font-family: 'Raleway', Calibri, Arial, sans-serif;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">CCCHAT</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="#" onclick="backToChat()">群聊</a>
            <a class="nav-item nav-link" href="#" onclick="select()">搜索</a>
            <a class="nav-item nav-link" href="#" onclick="updateUserInfo()">个人信息</a>
            <a class="nav-item nav-link" href="#" onclick="displayMessage()">通知消息</a>
            <a class="nav-item nav-link" href="#" onclick="cancellation()">注销</a>
            <a class="nav-item nav-link disabled" href="#">
                <i class="mdui-icon" id="user" th:text="${user}"></i>
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="groupList">
            <h4 style="margin-top: 2rem">已加入的群聊列表</h4>
            <div class="list-group" id="roomListBoard">

            </div>
            <h4 style="margin-top: 2rem">好友列表</h4>
            <div class="list-group" id="friendListBoard">

            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" id="center">
            <div class="input-group mb-3" style="margin-bottom: 2rem;margin-top: 2rem;">
                <input type="text" id="createRoom" class="form-control" placeholder="输入您要创建的群聊名称"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"
                            onclick="createRoom(document.getElementById('createRoom').value)">创建
                    </button>
                </div>
            </div>

            <h5 id="targetTitle" style="margin-bottom: 1rem">大厅</h5>

            <div class="jumbotron jumbotron-fluid" style="height: 400px;overflow:scroll;overflow-x:hidden"
                 id="msgBoard">
                <div class="container">
                    <h1 class="display-4"></h1>
                    <p class="lead"></p>
                </div>
            </div>

            <div class="input-group mb-3" id="inputMsg">
                <input type="text" id="inputMessage" class="form-control" style="margin-top: 1rem"
                       aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <button type="button" class="btn btn-warning" style="margin-top: 1rem" onclick="send()" id="pub">发布
            </button>
            <button type="button" class="btn btn-info" style="margin-top: 1rem" onclick="publishFile();">发布图片
            </button>
            <input type="file" name="file" accept="image/png,image/jpg,image/jpeg" id="chooseFile"
                   onchange="uploadFile();" style="display:none;"/>
            <div id="outButton">
                <button type="button" class="btn btn-danger" style="margin-top: 1rem" onclick="exitRoom(currentRoomId)"
                        id="out">退出群聊
                </button>
            </div>
            <!--            <div id="dissolveRoom"></div>-->
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12" id="userListBoard">
            <h4 style="margin-top: 2rem">在线列表</h4>
            <ul class="list-group" id="userList" style="margin-top: 1rem">
            </ul>
        </div>
    </div>
</div>

</body>

<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>

<script type="text/javascript">

    var webSocket;
    chatMessage = [];
    users = [];
    var rightTemp;
    // var tag = 0;
    var centerTag = 0;
    centerBoard = [];
    var rightTag = 0;
    rightBoard = [];
    var outButton = '<button type="button" class="btn btn-danger" style="margin-top: 1rem" onclick="exitRoom(currentRoomId)"\n' +
        '                        id="out">退出群聊\n' +
        '                </button>';
    var currentSelectUserId;
    var currentUserInfo;
    var currentUserId = document.getElementById("user").innerHTML.split("(")[1].split(")")[0];
    var currentUsername = document.getElementById("user").innerHTML.split("(")[0];

    let chatMsgMap = new Map();
    let userListMap = new Map();
    let firstEnter = new Map();

    function showUserInfo(user, type) {
        rightBoard[rightTag] = document.getElementById("userListBoard").innerHTML;
        rightTemp = document.getElementById("userListBoard").innerHTML;
        var userId = user.split("(")[1].split(")")[0];
        currentSelectUserId = userId;
        var currentUserId = document.getElementById("user").innerHTML.split("(")[1].split(")")[0];
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/user/selectUserInfo/" + userId, true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var content = JSON.parse(req.responseText).data;
                var userInfo = content.userInfo;
                var infoDisplay = '<div class="card" style="margin-top: 2rem">';
                infoDisplay += '<div class="card-header" id="cardHeader">' + user + "的个人信息" + '</div>';
                infoDisplay += '<ul class="list-group list-group-flush">';
                infoDisplay += '<li class="list-group-item">' + '用户名：' + userInfo.username + '</li>';
                infoDisplay += '<li class="list-group-item">' + '性别：' + userInfo.gender + '</li>';
                infoDisplay += '<li class="list-group-item">' + '年龄：' + userInfo.age + '</li>';
                infoDisplay += '<li class="list-group-item">' + '爱好：' + userInfo.hobby + '</li>';
                infoDisplay += '<li class="list-group-item">' + '家乡：' + userInfo.hometown + '</li>';
                infoDisplay += '<li class="list-group-item">' + '个人描述：' + userInfo.describe + '</li>';
                infoDisplay += '</ul>';
                infoDisplay += '</div>';
                if (type === 0) {
                    infoDisplay += '<button type="button" class="btn btn-info" style="margin-top: 1rem" onclick="back()">返回</button>';
                }
                if (currentUserId !== currentSelectUserId) {
                    if (content.friend === false) {
                        infoDisplay += '<button type="button" class="btn btn-success" style="margin-top: 1rem" onclick="addFriend()">加好友</button>';
                    } else {
                        infoDisplay += '<button type="button" class="btn btn-danger" style="margin-top: 1rem" onclick="deleteFriend()">删除好友</button>';
                    }
                }
                document.getElementById("userListBoard").innerHTML = infoDisplay;
                rightTag = 1;
            }
        };
    }

    function backToChat() {
        if (centerTag !== 0) {
            centerBoard[centerTag] = document.getElementById("center").innerHTML;
            document.getElementById("center").innerHTML = centerBoard[0];
            centerTag = 0;
        }
        if (rightTag !== 0) {
            rightBoard[rightTag] = document.getElementById("userListBoard").innerHTML;
            document.getElementById("userListBoard").innerHTML = rightTemp;
            rightTag = 0;
        }
        if (chatMsgMap.get(currentRoomId) == null) {
            document.getElementsByClassName("lead")[0].innerHTML = "";
        } else {
            document.getElementsByClassName("lead")[0].innerHTML = chatMsgMap.get(currentRoomId);
        }
    }

    function back() {
        rightTag = 0;
        document.getElementById("userListBoard").innerHTML = rightTemp;
    }

    function updateUserInfo() {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/user/displayUserInfo/", true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var userInfo = JSON.parse(req.responseText).data;
                currentUserInfo = userInfo;
                centerBoard[centerTag] = document.getElementById("center").innerHTML;
                var infoBoard = '<h4 style="margin-top: 2rem">个人信息</h4>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >用户名</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.username + '" class="form-control" id="inputUsername">\n' +
                    '  </div>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >性别</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.gender + '" class="form-control" id="inputGender">\n' +
                    '  </div>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >年龄</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.age + '" class="form-control" id="inputAge">\n' +
                    '  </div>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >爱好</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.hobby + '" class="form-control" id="inputHobby">\n' +
                    '  </div>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >家乡</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.hometown + '" class="form-control" id="inputHometown">\n' +
                    '  </div>';
                infoBoard += '<div class="form-group">\n' +
                    '    <label >个人描述</label>\n' +
                    '    <input type="text" placeholder="' + userInfo.describe + '" class="form-control" id="inputDescribe">\n' +
                    '  </div>';
                infoBoard += '<button type="submit" class="btn btn-primary" onclick="' +
                    'updateInfo()">提交修改</button>';
                document.getElementById("center").innerHTML = infoBoard;
                centerTag = 2
            }
        };
    }

    function select() {
        centerBoard[centerTag] = document.getElementById("center").innerHTML;
        var selectBoard = '';
        selectBoard += '<div class="input-group mb-3" style="margin-bottom: 2rem;margin-top: 1rem;">\n' +
            '                <input type="text" id="selectRoom" class="form-control" placeholder="输入您想要搜索的群聊名称或id"\n' +
            '                       aria-label="Recipient\'s username" aria-describedby="basic-addon2">\n' +
            '                <div class="input-group-append">\n' +
            '                    <button class="btn btn-outline-secondary" type="button"\n' +
            '                            onclick="selectRoom(document.getElementById(\'selectRoom\').value)">搜索\n' +
            '                    </button>\n' +
            '                </div>\n' +
            '            </div>';
        selectBoard += '<div class="input-group mb-3" style="margin-bottom: 2rem;margin-top: 1rem;">\n' +
            '                <input type="text" id="selectUser" class="form-control" placeholder="输入您想要搜索的用户名称或id"\n' +
            '                       aria-label="Recipient\'s username" aria-describedby="basic-addon2">\n' +
            '                <div class="input-group-append">\n' +
            '                    <button class="btn btn-outline-secondary" type="button"\n' +
            '                            onclick="selectUser(document.getElementById(\'selectUser\').value)">搜索\n' +
            '                    </button>\n' +
            '                </div>\n' +
            '            </div>';
        selectBoard += '<div id="selectList"></div>';
        document.getElementById("center").innerHTML = selectBoard;
        centerTag = 1;
    }

    function chatWithUser(user) {
        if (centerTag !== 0) {
            centerBoard[centerTag] = document.getElementById("center").innerHTML;
            document.getElementById("center").innerHTML = centerBoard[0];
            centerTag = 0;
        }
        document.getElementById("outButton").innerHTML = "";

        var username = user.split("(")[0];
        var userId = user.split("(")[1].split(")")[0];

        document.getElementById("targetTitle").innerHTML = username;

        if (firstEnter.get(userId) === true) {
            firstEnter.set(userId, false);
            showFriendHistory(userId);
        }
        if (chatMsgMap.get(userId) == null) {
            document.getElementsByClassName("lead")[0].innerHTML = "";
        } else {
            document.getElementsByClassName("lead")[0].innerHTML = chatMsgMap.get(userId);
        }
        alert("你已与 " + username + " 开始聊天");
        currentRoomId = userId;
        showUserInfo(user, 1);
    }

    function enterRoom(room) {
        if (centerTag !== 0) {
            centerBoard[centerTag] = document.getElementById("center").innerHTML;
            document.getElementById("center").innerHTML = centerBoard[0];
            centerTag = 0;
        }
        if (rightTag !== 0) {
            // rightBoard[rightTag] = document.getElementById("userListBoard").innerHTML;
            document.getElementById("userListBoard").innerHTML = rightBoard[0];
            rightTag = 0;
        }
        document.getElementById("outButton").innerHTML = outButton;
        var roomName;
        var roomId;
        if (room === "大厅") {
            roomName = "大厅";
            roomId = "大厅";
        } else {
            roomName = room.split("(")[0];
            roomId = room.split("(")[1].split(")")[0];
            var roomObj = {"roomId": roomId, "roomName": roomName};
            joinRoom(roomObj);
        }
        document.getElementById("targetTitle").innerHTML = roomName;
        currentRoomId = roomId;
        // if (rooms.get(roomId).roomCreator === currentUserId) {
        //     var newButton = '<button type="button" class="btn btn-danger" style="margin-top: 1rem" onclick="dissolveRoom(currentRoomId)" id="pub">解散群聊\n' +
        //         '                </button>';
        //     document.getElementById("dissolveRoom").innerHTML += newButton;
        // } else {
        //     document.getElementById("dissolveRoom").innerHTML = "";
        // }

        if (firstEnter.get(roomId) === true) {
            firstEnter.set(roomId, false);
            showGroupHistory(roomId);
        }
        if (chatMsgMap.get(roomId) == null) {
            document.getElementsByClassName("lead")[0].innerHTML = "";
        } else {
            document.getElementsByClassName("lead")[0].innerHTML = chatMsgMap.get(roomId);
        }
        alert("你已进入 " + roomName);
        rightTag = 0;
        displayUserList(roomId);
    }

    document.onkeydown = function (event) {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        e.keyCode === 13 && send();
    };

    function send() {
        if (webSocket != null) {
            var input_msg = document.getElementById("inputMessage").value.trim();
            if (input_msg == "") {
                return;
            }
            var message = {"target": currentRoomId, "message": input_msg, "type": 0};
            var json = JSON.stringify(message);
            webSocket.send(json);
            // 清除input框里的信息
            document.getElementById("inputMessage").value = "";
        } else {
            alert("您已掉线，请重新进入聊天室...");
        }
    }

    function sendEnterRoomInfo(enterMessage, roomId) {
        var message = {"target": roomId, "message": enterMessage, "type": 0};
        var json = JSON.stringify(message);
        webSocket.send(json);
    }

    function closeWS() {
        webSocket.close();
    }

    var currentRoomId = "大厅";

    function initWebSocket() {
        if ("WebSocket" in window) {
            if (webSocket == null) {
                var url = "ws://116.62.13.6:8082/hall";
                // 打开一个 web socket
                webSocket = new WebSocket(url);
            } else {
                alert("您已进入大厅");
            }

            webSocket.onopen = function () {
                alert("您已进入大厅，一起嗨皮");
            };

            webSocket.onmessage = function (evt) {
                var msgObj = JSON.parse(evt.data);
                if (msgObj.type === 0 || msgObj.type === 2 || msgObj.type === 4) {
                    var roomId = msgObj.target;
                    var newMessage = msgObj.message;
                    var oldMessage = chatMsgMap.get(roomId);
                    if (oldMessage == null) {
                        oldMessage = "";
                    }
                    var chatMessage = oldMessage + newMessage + "<br>";
                    chatMessage.scrollTop = chatMessage.scrollTop + 40;
                    chatMsgMap.set(roomId, chatMessage);
                    if (roomId === currentRoomId) {
                        document.getElementsByClassName("lead")[0].innerHTML = chatMessage;
                    }
                } else if (msgObj.type === 1) {
                    var userListBoard = '<h4 style="margin-top: 2rem">在线列表</h4>';
                    userListBoard += '<ul class="list-group" id="userList" style="margin-top: 1rem">';
                    for (var i = 0; i < msgObj.listNum; i++) {
                        var username = msgObj.list[i].username;
                        var userId = msgObj.list[i].userId;
                        userListBoard += '<li class="list-group-item list-group-item-action" onclick="showUserInfo(this.innerHTML,0)">' +
                            username + '(' + userId + ')' + '</li>'
                    }
                    userListBoard += '</ul>';
                    userListMap.set("大厅", userListBoard);
                    if (currentRoomId === "大厅"){
                        document.getElementById("userListBoard").innerHTML = userListBoard;
                    }
                    // } else if (msgObj.type === 2) {
                    //     var roomId = msgObj.target;
                    //     // var newMessage = msgObj.message + "(图片url)";
                    //     var newMessage = currentUsername + ":" + "<br>";
                    //     newMessage += '<img style="width: 40%;height: 40%;max-width: 100%;max-height: 100%;" src=' + msgObj.message + '>';
                    //     var oldMessage = chatMsgMap.get(roomId);
                    //     if (oldMessage == null) {
                    //         oldMessage = "";
                    //     }
                    //     var chatMessage = oldMessage + newMessage + "<br>";
                    //     chatMessage.scrollTop = chatMessage.scrollTop + 40;
                    //     chatMsgMap.set(roomId, chatMessage);
                    //     if (roomId === currentRoomId) {
                    //         document.getElementsByClassName("lead")[0].innerHTML = chatMessage;
                    //     }
                } else if (msgObj.type === 3) {
                    if (msgObj.message === "userList") {
                        if (msgObj.target === currentRoomId && rightTag === 0) {
                            displayUserList(msgObj.target);
                        }
                    } else {
                        displayFriends();
                    }
                }
            };

            webSocket.onclose = function () {
                // 关闭 websocket，清空信息板
                alert("连接已关闭");
                webSocket = null;
                document.getElementsByClassName("lead")[0].innerHTML = "";
                document.getElementById("groupList").innerHTML = "";
                document.getElementById("userListBoard").innerHTML = "";
                document.getElementById("targetTitle").innerHTML = "";
            };
        } else {
            // 浏览器不支持 WebSocket
            alert("您的浏览器不支持 WebSocket!");
        }
    }

    function showFriendHistory(fromId) {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/chatMessage/getFriendMessage/" + fromId, true);
        req.send();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                var content = JSON.parse(req.responseText).data;
                var chatMessage = "";
                for (var i = content.size - 1; i >= 0; i--) {
                    var newMessage = content.chatMessageList[i];
                    chatMessage = chatMessage + newMessage + "<br>";
                    chatMessage.scrollTop = chatMessage.scrollTop + 40;
                }
                chatMsgMap.set(fromId, chatMessage);
                if (fromId === currentRoomId) {
                    document.getElementsByClassName("lead")[0].innerHTML = chatMessage;
                }
            }
        }
    }

    function showGroupHistory(roomId) {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/chatMessage/getGroupMessage/" + roomId, true);
        req.send();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                var content = JSON.parse(req.responseText).data;
                var chatMessage = "";
                for (var i = content.size - 1; i >= 0; i--) {
                    var newMessage = content.chatMessageList[i];
                    chatMessage = chatMessage + newMessage + "<br>";
                    chatMessage.scrollTop = chatMessage.scrollTop + 40;
                    // var div = document.getElementById("msgBoard");
                    // div.scrollTop = div.scrollHeight;
                }
                chatMsgMap.set(roomId, chatMessage);
                if (roomId === currentRoomId) {
                    document.getElementsByClassName("lead")[0].innerHTML = chatMessage;
                }
            }
        }
    }

    function publishFile() {
        alert("请不要选择过大的图片");
        $("#chooseFile").click();
    }

    function uploadFile() {
        if ($("#chooseFile").val() === '') {
            return;
        }
        sendImg();
    }


    function sendImg() {
        alert("请等待图片发送");
        var formData = new FormData();
        var image = document.getElementById("chooseFile").files[0]
        formData.append('image', image);
        $.ajax({
            url: "/image/uploadImg",
            type: "POST",
            data: formData,
            dataType: "json",//返回值类型 JSON
            contentType: false,
            processData: false,
            success: function (res) {
                if (res.code === 200) {
                    var imageRes = JSON.parse(res.data);
                    if (imageRes.code === 200) {
                        var url = imageRes.data.url.xiaomi;
                        var inputMessage = "<br>";
                        inputMessage += '<img style="width: 40%;height: 40%;max-width: 100%;max-height: 100%;" src=' + url + '>'
                        var message = {"target": currentRoomId, "message": inputMessage, "type": 2};
                        var json = JSON.stringify(message);
                        webSocket.send(json);
                    } else {
                        alert(imageRes.msg);
                    }
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function deleteFriend() {
        $.ajax({
            url: "/friend/deleteFriend",
            type: "DELETE",
            data: currentSelectUserId,
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("已删除好友");
                    displayFriends();
                    var inputMessage = "已解除好友关系";
                    var deleteMessage = {"target": currentSelectUserId, "message": inputMessage, "type": 4};
                    var deleteJson = JSON.stringify(deleteMessage);
                    webSocket.send(deleteJson);
                    var message = {"target": currentSelectUserId, "type": 3};
                    var json = JSON.stringify(message);
                    webSocket.send(json);
                    back();
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function addFriend() {
        $.ajax({
            url: "/friend/addFriend",
            type: "POST",
            data: currentSelectUserId,
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("已发送好友申请");
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function updateInfo() {
        var inputUsername = $("#inputUsername").val();
        var inputGender = $("#inputGender").val();
        var inputHobby = $("#inputHobby").val();
        var inputHometown = $("#inputHometown").val();
        var inputDescribe = $("#inputDescribe").val();
        var inputAge = $("#inputAge").val();
        // if (inputUsername.length > 15) {
        //     alert("用户名不能输入超过15个字符");
        //     return;
        // }
        // if (inputGender.length > 4) {
        //     alert("性别建议输入男或女，不要输入过多其他字符")
        //     return;
        // }
        // if (inputHobby.length > 50) {
        //     alert("爱好不要输入超过50个字符");
        //     return;
        // }
        // if (inputHometown.length > 50) {
        //     alert("家乡不要输入超过50个字符");
        //     return;
        // }
        // if (inputDescribe.length > 50) {
        //     alert("个人描述不要输入超过50个字符");
        //     return;
        // }
        if (inputAge !== "" && typeof(inputAge) !== "number") {
            alert("年龄请输入数字");
            return;
        }
        if (inputUsername === "") {
            inputUsername = currentUserInfo.username;
        }
        if (inputGender === "") {
            inputGender = currentUserInfo.gender;
        }
        if (inputHobby === "") {
            inputHobby = currentUserInfo.hobby;
        }
        if (inputHometown === "") {
            inputHometown = currentUserInfo.hometown;
        }
        if (inputDescribe === "") {
            inputDescribe = currentUserInfo.describe;
        }
        var params = {
            "username": inputUsername,//取出文本中的值
            "gender": inputGender,
            "age": inputAge,
            "hobby": inputHobby,
            "hometown": inputHometown,
            "describe": inputDescribe
        };
        $.ajax({
            url: "/user/updateInfo",
            type: "PUT",
            data: JSON.stringify(params),
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert(res.message)
                    if (res.data !== "" || res.data !== null){
                        currentUsername = res.data;
                        document.getElementById("user").innerHTML =
                            currentUsername + "(" + currentUserId + ")";
                    }
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function cancellation() {
        $.ajax({
            url: "/user/cancellation",
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("您已注销");
                    window.location.herf = "";
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function createRoom(roomName) {
        $.ajax({
            url: "/room/createRoom",
            data: roomName,
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("你已创建群聊：" + roomName);
                    var createMessage = currentUsername + "创建了群聊";
                    var message = {"target": res.data, "message": createMessage, "type": 4};
                    var json = JSON.stringify(message);
                    webSocket.send(json);
                    displayRoomList();
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function joinRoom(roomObj) {
        $.ajax({
            url: "/room/enterRoom",
            data: JSON.stringify(roomObj),
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {

                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function joinExistRoom(room) {
        var roomId = room.split("(")[1].split(")")[0];
        var roomName = room.split("(")[0];
        var roomObj = {"roomId": roomId, "roomName": roomName};
        $.ajax({
            url: "/room/joinExistRoom",
            data: JSON.stringify(roomObj),
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    displayRoomList();
                    alert("你已加入群聊：" + roomName);
                    var message = {"target": roomId, "type": 3};
                    var json = JSON.stringify(message);
                    webSocket.send(json);
                    var enterMessage = currentUsername + "加入了群聊";
                    var inputMessage = {"target": roomId, "message": enterMessage, "type": 4};
                    var enterJson = JSON.stringify(inputMessage);
                    webSocket.send(enterJson);
                    // enterRoom(room);
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function exitRoom(roomId) {
        $.ajax({
            url: "/room/exitRoom",
            data: roomId,
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("你已退出群聊");
                    var message = {"target": roomId, "type": 3};
                    var json = JSON.stringify(message);
                    webSocket.send(json);
                    var exitMessage = currentUsername + "退出了群聊";
                    var inputMessage = {"target": roomId, "message": exitMessage, "type": 4};
                    var exitJson = JSON.stringify(inputMessage);
                    webSocket.send(exitJson)
                    displayRoomList(exitJson);
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        })
    }

    function agreeApply(msgTag) {
        msgTag = msgTag.split(":")[1];
        $.ajax({
            url: "/friend/agreeApply",
            data: JSON.stringify(messageList[msgTag]),
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("好友添加成功");
                    var inputMessage = "已成为好友，开始聊天吧";
                    var addMessage = {"target": messageList[msgTag].applyId, "message": inputMessage, "type": 4};
                    var addJson = JSON.stringify(addMessage);
                    webSocket.send(addJson);
                    var applyId = messageList[msgTag].applyId;
                    var message = {"target": applyId, "type": 3};
                    var json = JSON.stringify(message);
                    webSocket.send(json);
                    displayFriends();
                    displayMessage();
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        });
        displayMessage();
    }

    function refuseApply(msgTag) {
        msgTag = msgTag.split(":")[1];
        $.ajax({
            url: "/friend/refuseApply",
            data: JSON.stringify(messageList[msgTag]),
            type: "POST",
            dataType: "json",//返回值类型 JSON
            contentType: 'application/json',
            success: function (res) {  //请求成功的回调
                if (res.code === 200) {
                    alert("已拒绝好友申请")
                    displayMessage();
                } else {
                    alert(res.message)
                }
            },
            error: function (res) { //请求失败的回调
                alert(res.result)
            }
        });
        displayMessage();
    }

    selectUsers = [];

    function selectUser(userInfo) {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/user/selectUser/" + userInfo, true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var selectList = '<div class="list-group">';
                var content = JSON.parse(req.responseText).data;
                if (content.size === 0) {
                    selectList += '<li class="list-group-item list-group-item-action">' +
                        '没搜到这个用户哦' + '</li>';
                }
                for (var i = 0; i < content.size; i++) {
                    var username = content.userList[i].username;
                    var userId = content.userList[i].userId;
                    selectUsers[i] = userId;
                    selectList += '<li class="list-group-item list-group-item-action" onclick="showUserInfo(this.innerHTML)">' +
                        username + '(' + userId + ')' + '</li>';
                }
                selectList += '</div>';
                document.getElementById("selectList").innerHTML = selectList;
            }
        }
    }

    selectRooms = [];

    function selectRoom(roomInfo) {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/room/selectRoom/" + roomInfo, true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var selectList = '<div class="list-group">';
                var content = JSON.parse(req.responseText).data;
                if (content.size === 0) {
                    selectList += '<li class="list-group-item list-group-item-action">' +
                        '没搜到这个群聊哦' + '</li>';
                }
                for (var i = 0; i < content.size; i++) {
                    var roomName = content.roomList[i].roomName;
                    var roomId = content.roomList[i].roomId;
                    selectRooms[i] = roomId;
                    selectList += '<li class="list-group-item list-group-item-action" onclick="joinExistRoom(this.innerHTML)">' +
                        roomName + '(' + roomId + ')' + '</li>';
                }
                selectList += '</div>';
                document.getElementById("selectList").innerHTML = selectList;
            }
        }
    }

    messageList = [];

    function displayMessage() {
        centerBoard[centerTag] = document.getElementById("center").innerHTML;
        var msgBoard = '<h4 style="margin-top: 2rem">消息通知</h4>';
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "/friend/displayMessage/", true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var content = JSON.parse(req.responseText).data;
                if (content.size === 0) {
                    msgBoard += '<div class="card">\n' +
                        '  <div class="card-body">\n' +
                        '    暂时没有消息哦\n' +
                        '  </div>\n' +
                        '</div>';
                }
                for (var i = 0; i < content.size; i++) {
                    msgBoard += '<div class="card" style="margin-top: 1rem">\n' +
                        '  <div class="card-body">';
                    msgBoard += content.applyMessageList[i].message;
                    msgBoard += '</div>\n' +
                        '</div>';
                    var agree = "agree:" + i;
                    var refuse = "refuse:" + i;
                    if (content.applyMessageList[i].type === 0) {
                        msgBoard += '<button type="button" id="' + agree + '" class="btn btn-outline-success"' +
                            ' style="margin-top: 1rem" onclick="agreeApply(this.id)">同意</button>';
                        msgBoard += '<button type="button" id="' + refuse + '" class="btn btn-outline-danger"' +
                            ' style="margin-top: 1rem" onclick="refuseApply(this.id)">拒绝</button>';
                    }
                    messageList[i] = content.applyMessageList[i];
                }
                document.getElementById("center").innerHTML = msgBoard;
                centerTag = 3;
            }
        };
    }

    let rooms = new Map();
    var roomlength;

    function displayRoomList() {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "room/displayRoomList", true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                var listBoard = "";
                listBoard += '<li class="list-group-item list-group-item-action" onclick="enterRoom(this.innerHTML)">' +
                    '大厅' + '</li>';
                var content = JSON.parse(req.responseText);
                for (var i = 0; i < content.data.size; i++) {
                    var room = content.data.roomList[i];
                    var roomName = room.roomName;
                    var roomId = room.roomId;
                    firstEnter.set(roomId, true);
                    rooms.set(roomId, room);
                    listBoard += '<li class="list-group-item list-group-item-action" onclick="enterRoom(this.innerHTML)">' +
                        roomName + '(' + roomId + ')' + '</li>'
                }
                document.getElementById("roomListBoard").innerHTML = listBoard;
                roomlength = content.data.size + 1;
                displayFriends();
            }
        }
    }

    function displayFriends() {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "friend/displayFriends", true);
        req.send();
        req.onreadystatechange = function () {
            if (req.readyState == 4 && req.status == 200) {
                var board = "";
                var content = JSON.parse(req.responseText).data;
                for (var i = 0; i < content.size; i++) {
                    var username = content.userList[i].username;
                    var userId = content.userList[i].userId;
                    board += '<li class="list-group-item list-group-item-action" onclick="chatWithUser(this.innerHTML)">' +
                        username + '(' + userId + ')' + '</li>';
                    firstEnter.set(userId, true);
                    // rooms[roomlength + i] = userId;
                    document.getElementById("friendListBoard").innerHTML = board;
                }
            }
        }
    }

    function displayUserList(roomId) {
        var req = new XMLHttpRequest();
        //设置请求方法 主机地址，是否异步
        req.open("get", "room/displayUserList/" + roomId, true);
        req.send();
        req.onreadystatechange = function () {
            //console.log(req.readyState + " " + req.status);
            if (req.readyState == 4 && req.status == 200) {
                if (roomId === "大厅") {
                    document.getElementById("userListBoard").innerHTML = userListMap.get(roomId);
                } else {
                    var userListBoard = '<h4 style="margin-top: 2rem">群聊成员列表</h4>';
                    userListBoard += '<ul class="list-group" id="userList" style="margin-top: 1rem">';
                    var content = JSON.parse(req.responseText).data;
                    for (var i = 0; i < content.size; i++) {
                        var username = content.userList[i].username;
                        var userId = content.userList[i].userId;
                        userListBoard += '<li class="list-group-item list-group-item-action" onclick="showUserInfo(this.innerHTML,0)">' +
                            username + '(' + userId + ')' + '</li>'
                    }
                    userListBoard += '</ul>';
                    userListMap.set(roomId, userListBoard);
                    document.getElementById("userListBoard").innerHTML = userListBoard;
                }
            }
        }
    }

    displayRoomList();
    initWebSocket();

</script>

</html>