<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.chat.dao.RoomMapper">
    <resultMap id="BaseResultMap" type="com.train.chat.pojo.Room">
        <!--@mbg.generated-->
        <!--@Table room-->
        <id column="room_id" jdbcType="VARCHAR" property="roomId"/>
        <result column="room_name" jdbcType="VARCHAR" property="roomName"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        room_id, room_name
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from room
        where room_id = #{roomId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        <!--@mbg.generated-->
        delete from room
        where room_id = #{roomId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.train.chat.pojo.Room">
        <!--@mbg.generated-->
        insert into room (room_id, room_name)
        values (#{roomId,jdbcType=VARCHAR}, #{roomName,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.train.chat.pojo.Room">
        <!--@mbg.generated-->
        insert into room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                room_id,
            </if>
            <if test="roomName != null">
                room_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roomId != null">
                #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="roomName != null">
                #{roomName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.train.chat.pojo.Room">
        <!--@mbg.generated-->
        update room
        <set>
            <if test="roomName != null">
                room_name = #{roomName,jdbcType=VARCHAR},
            </if>
        </set>
        where room_id = #{roomId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.train.chat.pojo.Room">
        <!--@mbg.generated-->
        update room
        set room_name = #{roomName,jdbcType=VARCHAR}
        where room_id = #{roomId,jdbcType=VARCHAR}
    </update>

    <select id="existRoom" resultMap="BaseResultMap">
        select * from room where room_name = #{room}
    </select>

    <select id="selectRoomByUser" resultMap="BaseResultMap">
        select * from room r, user_and_room ur
        where r.room_id = ur.room_id
        and ur.user_id = #{userId}
    </select>

    <select id="selectRoomByInfo" resultMap="BaseResultMap">
        select * from room
        where room_name like CONCAT(CONCAT('%', #{roomInfo}), '%')
        or room_id like CONCAT(CONCAT('%', #{roomInfo}), '%')
    </select>

</mapper>