<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.chat.dao.UserAndRoomMapper">
    <resultMap id="BaseResultMap" type="com.train.chat.pojo.UserAndRoom">
        <!--@mbg.generated-->
        <!--@Table user_and_room-->
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="room_id" jdbcType="VARCHAR" property="roomId"/>
        <result column="message_tag" jdbcType="INTEGER" property="messageTag"/>
    </resultMap>
    <insert id="insert" parameterType="com.train.chat.pojo.UserAndRoom">
        <!--@mbg.generated-->
        insert into user_and_room (user_id, room_id, message_tag
        )
        values (#{userId,jdbcType=VARCHAR}, #{roomId,jdbcType=VARCHAR}, #{messageTag,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.train.chat.pojo.UserAndRoom">
        <!--@mbg.generated-->
        insert into user_and_room
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="roomId != null">
                room_id,
            </if>
            <if test="messageTag != null">
                message_tag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="roomId != null">
                #{roomId,jdbcType=VARCHAR},
            </if>
            <if test="messageTag != null">
                #{messageTag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <select id="selectUserByRoom" resultType="com.train.chat.pojo.User">
        select * from user where user_id in (
        select user_id from user_and_room
        where room_id = #{roomId}
        )
    </select>

    <select id="selectRecord" resultMap="BaseResultMap">
        select * from user_and_room
        where user_id = #{userId} and room_id = #{roomId}
    </select>

    <select id="selectRoomIdByUser" resultType="java.lang.String">
        select room_id from user_and_room
        where user_id = #{userId}
    </select>

    <delete id="deleteRecord">
        delete from user_and_room
        where user_id = #{userId} and room_id = #{roomId}
    </delete>

    <update id="updateAllMessageTagToOne">
        update user_and_room set message_tag = 1
        where room_id = #{roomId};
    </update>

    <update id="updateMessageTagToZero">
        update user_and_room set message_tag = 0
        where user_id = #{userId} and room_id = #{roomId}
    </update>

    <delete id="deleteRecordByRoom">
        delete from user_and_room
        where room_id = #{roomId}
    </delete>

    <select id="selectMembersNum" resultType="int">
        select count(*) from user_and_room
        where room_id = #{roomId}
    </select>

</mapper>